header, footer {
    background-color: #ffa500;
    color: #5f3c3c;
    font-family: Arial, sans-serif;
    padding: 30px;
    margin: 5px;
    text-align: center;  
}
main  {
    padding: 10px;
    margin: 5px;
}
span {
    color:#ff0000;
}
h3  {
    color: #E00C0C;
}
h4  {
    color: #639504;
    margin-top: 10px;
}
.navhead a:link  {
    background-color: #446161;
    color: #FFD700;
    width: 120px;
    padding: 14px 25px;
    margin: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.navhead a:visited  {
    background-color: #639504;
    color: #FFFF00; 
}
.navhead a:hover  {
    background-color: #6D8484;
}
.navhead a:active  {
    background-color: #EA3608;
}
aside {
    border-collapse: collapse;
    border: 3px solid #ffa500;
    width:300px;
    height: 1400px;
    float:left;
    background-image: url('smile.png');
    font-family: Sofia;     
}
aside h2  {
    text-align: center;
    color: #311f1f;
}
aside p  {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    padding: 5px 5px;
}
aside ul  {
    list-style-type: none;
}
aside a:link, a:visited  {
    background-color: #d2691e;
    color: #000;
    width: 200px;
    padding: 10px 15px;
    margin: 10px 5px;
    display: block;
}
aside a:hover, a:active  {
    background-color: #ff7f50;
}
.survey  {
    padding: 5px;
    margin-left: 305px;
    background-color: #f5f5dc;
}
.section1  {
    padding: 5px;
    margin-left: 310px;
    font-size: 18px;
    font-family: Questrial;
    text-align: justify;
    color: #2F4F4F;  
}
img  {
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 5px;
}